nav{
    text-align: center;
    background-color:transparent;
    overflow: hidden;
}
nav a{
    color: violet;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
nav a:hover {
    background-color: rgb(238, 8, 226);
    color: black;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: darkorange;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: darkorange;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  body{
   background-color: cyan;
  }
  h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: darkorange;
}
